<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verify</title>
</head>
<body>
<form action="/api/auth/registerClient" method="post">
    <table>
        <tr>
            <td><label>We send code to your email. Enter the code: </label></td>
            <td><label>
                <input type="text" name="code"/>
            </label></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Register"/></td>
        </tr>
    </table>
</form>

</body>
</html>