<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .add {
        padding: 1rem;
        width: 40%;
        margin-left: 30%;
        text-align: left;
    }
    #app
    {
        margin-left: auto;
        margin-right: auto;
    }
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<div style="text-align: left; margin-left: 10px">
    <button class="button" type="button" onClick="location.href = '/';">Home</button>
</div>
<br><br>

<div class="add">
    <form method="post" th:action="@{'/api/products/addOrEditProduct?id='+${id}}" enctype="multipart/form-data">
        <fieldset>
            <legend>Edit product</legend>

            <table id="app">
                <tr>
                    <td><label for="maker">Maker: </label></td>
                    <td><input type="text" name="maker" id="maker" th:value="${maker}" required/></td>
                </tr>
                <tr>
                    <td><label for="name">Name: </label></td>
                    <td><input type="text" name="name" id="name" th:value="${name}" required/></td>
                </tr>
                <tr>
                    <td><label for="price">Price: </label></td>
                    <td><input type="text" name="price" id="price" th:value="${price}" required/></td>
                </tr>
                <tr>
                    <td><label for="desc">About: </label></td>
                    <td><input type="text" name="desc" id="desc" th:value="${desc}"/></td>
                </tr>
                <tr>
                    <td><label for="avatar" style="color: darkblue">Choose Product Photo: </label></td>
                    <td><input type="file" required accept=".jpg, .jpeg, .png" name="avatar" id="avatar" value=""
                               enctype="multipart/form-data"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" style="color: white; background-color: green; cursor: pointer; border: none; padding: 7px 10px; border-radius: 4%; font-size: 10px" value="Save Product"/></td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
<script>
    let pic = document.getElementById("avatar").value;
    if (pic == null && pic ==='') {
        document.getElementById("avatar").setAttribute('value',${avatar})
    }
</script>
</body>
</html>